---
import { Icon } from 'astro-icon'
import BaseLayout from '../layouts/BaseLayout.astro'
import Pagination from '../components/Paginator.astro'

//get semua content pagenya
const featuredPost = Astro.fetchContent('./*.md');

//filter page yang mau dijadikan featured post dengan kondisi variabel featured bernilai true
const res = featuredPost.filter(cekStatus => {
  return cekStatus.featured === true;
})

export async function getStaticPaths({rss, paginate}) {
  const allPosts = Astro.fetchContent('./*.md');
  const sortedPost = allPosts.sort((a,b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
  
  rss({
    //The RSS Feeds title, description, and custom metadata.
    title: 'StayKoding',
    description: 'Example blog in astro',
    customData: '<language>en-id</language>',
    //The list of items for your rss feed, sorted
    items: sortedPost.map(item => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.date,
    })),
    //Optional customize where the file is written to.
    //otherwize, defaults to '/rss.xml'
    dest: '/feed.xml',
  });
  
  return paginate(sortedPost, {pageSize: 3});
}

const {page} = Astro.props;
const title = "StayKoding";
const description = "staykoding merupakan blog yang membahas seputar dunia pemrograman dan pembelajaran serta tutorial pemrograman terkhususnya web development.";
---

<BaseLayout title={title} description={description}>
<article class="post">
		<section class="featured">
			<div class="head-featured">
				<span class="head-featured__title">
					Featured Post
				</span>
			</div>
			{res.map(result => (
          <div class="card-featured">
				<div class="image-featured">
					<img src={result.img} alt={result.title} loading="lazy" width="400" height="500">
				</div>
				<div class="description">
					<h2><a href={result.url}>{result.title}</a></h2>
					<span class="line"></span>
					<p>{result.description}</p>
					<div class="read-more">
						<a href={result.url}>Read More</a>
					</div>
				</div>
			</div>
			))
			}
		</section>
		<section class="new-post">
			<div class="head-post">
				<span class="head-post__title">
					New Post
				</span>
			</div>
			<div class="card-container">
			  {page.data.map((post) => (
          <div class="card">
  					<div class="image">
  						<img src={post.img} alt={post.title} loading="lazy" width="300" height="170">
  						<span class="label">
  							<Icon name="uil:notes" width={20}/> 
  							<span>{post.categories}</span>
  						</span>
  					</div>
  					<div class="judul">
  						<h2><a href={post.url}>{post.title}</a></h2>
  						<p class="author"><span><img src="https://i.ibb.co/SJv7LY0/admin-staykoding.jpg" width="40" height="40" alt="author staykoding" loading="lazy"></span></p>
  						<a class="read-more" href={post.url}>Read more</a>
  					</div>
  				</div>
          ))}
			</div>
				
			<Pagination page={page}/>
			
		</section>
	</article>
</BaseLayout>